@import '../../colors.less';

@past-month: @clr-light-green-500;
@past-month-hover: @clr-light-green-600;
@that-month: @clr-amber-500;
@that-month-hover: @clr-amber-600;

@row-bg-color-alt: @clr-indigo-50;
@row-bg-color-alt-hover: @clr-indigo-100;

@row-bg-color: none;
@row-bg-color-hover: @clr-grey-50;

@padding-tb: 3px;
@padding-lr: 5px;

.report-table {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.report-table .report-table__row {
    /* grey300 */
    border-bottom: 1px solid #E0E0E0;
    background-color: @row-bg-color;
}

.report-table .report-table__row:nth-of-type(even) {
    background-color: @row-bg-color-alt;
}

.report-table .report-month {
    border-left: 1px solid #E0E0E0;
}


.report-heading {
   
}

.report-month {
    padding: @padding-tb @padding-lr;
    font-size: 14px;
    text-align: center;
    cursor: pointer;

    &:hover {
        /* gray200 */
        background-color: #EEEEEE;
    }

    &__month {
        font-size: 2em;
        font-weight: bold;
        color: @clr-ui-title;
        margin-bottom: 0.5em;
    }

    &__year {
        font-size: 1em;
        color: @clr-ui-subhead-1;
    }

    &__actual-money {
        color: black;
    }
    
    &__forecasted-money {
        color: gray;
    }

    &--past {
        background-color: @past-month;
    }

    &--past:hover {
        background-color: @past-month-hover;
    }

    &--now {
        background-color: @that-month;

        .report-month__actual-money {
            width: 100%;
            text-align: left;
        }

        .report-month__forecasted-money {
            width: 100%;
            text-align: right;
        }
    }

    &--now:hover {
        background-color: @that-month-hover;
    }
}

.report-heading {
    padding: @padding-tb @padding-lr;
    font-size: 1.2em;
    font-weight: bold;
    width: 320px;

    &--clickable {
        cursor: pointer;
    }

    &--clickable:hover {
        background-color: #9FA8DA;
    }
}

.report-table__row--l0 .report-heading {
    padding-left: 1em;
}

.report-table__row--l1 .report-heading {
    padding-left: 2em;
}

.report-table__row--l2 .report-heading {
    padding-left: 3em;
}

