@import '../../colors.less';
@import '../calendar.less';
@import '../gradients.less';

.daily-calendar {
  & {
    .calendar-table();
  }

  .month {
    .calendar-cell();

    background-color: @color-primary-1;
  }

  .month:nth-child(2n+1) {
    background-color: @color-primary-2;
  }

  .day {
    .calendar-cell();
  }
  .day.-weekend {
    .background-gradient-lines(@color-grey-2);
  }
  .day.-today {
    border: 1px solid gray;
  }

  tbody .day {
    .hoverable();
  }

  .activity-day {
    background-color: @color-primary-0;
    position: relative;
  }
  .activity-day.-ongoing   { background-color: @color-secondary-1-0; }
  .activity-day.-highlight { background-color: @color-complement-0; }
  .activity-day.-missed    { background-color: @color-grey-0; }

  .activity-day-marker {
    @color: white;

    width: 0;
    height: 0;
    border: 0.4em solid transparent;
    border-color: @color @color transparent transparent;
    position: absolute;
    top: 0;
    right: 0;
  }
}
