.daily-calendar {
  font-size: 13px;
  border-collapse: separate;
  border-spacing: 2px;
  overflow-x: scroll;

  td, th {
    text-align: center;
    padding: 2px 5px;
  }
}

.daily-calendar__months {
  td {
    background-color: lightgreen;
  }
  td:nth-child(2n+1) {
    background-color: lighten(lightgreen, 20%);
  }
}

.daily-calendar__days,
.daily-calendar__days-of-week,
.daily-calendar tbody {
}

.daily-calendar tbody tr {
  border-bottom: 1px solid lightgray;
}

.daily-calendar__day {
  cursor: pointer;
  border: 1px solid lightgray;

  &:hover { box-shadow: 0 0 6px rgba(35, 173, 255, 1); }

  &--weekend {
    @color: lightgray;

    background: linear-gradient(135deg, rgba(0, 0, 0, 0) 49.9%, @color 49.9%, @color 60%, rgba(0, 0, 0, 0) 60%) fixed,
      linear-gradient(135deg, @color 10%, rgba(0, 0, 0, 0) 10%) fixed;
    background-size: 8px 8px;
  }

  &--today { border: 1px solid gray; }
}

.daily-calendar__activity-day {
  background-color: darkgreen;
  color: white;

  &--ongoing { background-color: darkorange; }
  &--highlight { background-color: red; }
  &--missed { background-color: darkgray; }
}