.monthly-calendar {
  font-size: 13px;
  border-collapse: collapse;
  border-spacing: 0;

  td, th {
    text-align: center;
    padding: 2px 5px;
  }
}

.monthly-calendar__month {
  font-size: 0.8em;
  border: 1px solid lightgray;

  @original-color: #52d1ff;

  &--level-1 { background-color: lighten(@original-color, 20%); }
  &--level-2 { background-color: lighten(@original-color, 10%); }
  &--level-3 { background-color: @original-color; }
  &--level-4 { background-color: darken(@original-color, 10%); }
  &--level-5 { background-color: darken(@original-color, 20%); }
}